<div class="alert alert-info">
    <p>{{ __('Application setup at') }}: <a href="https://developers.facebook.com/apps/">https://developers.facebook.com/apps/</a></p>

    <ul>
        <li>{{ __('Click "+ Add a New App" button') }}</li>
        <li>{{ __('Choose a display name and enter your email. Click "Create App ID" and complete the Captcha.') }}</li>
        <li>{{ __('Next to "Facebook Login" click "Get Started" button.') }}</li>
        <li>{{ __('Do not do "QuickStart" - click the Settings link under Facebook Login in the menu on the left side.') }}</li>
    </ul>

    {{ __('Add two') }} <code>Valid OAuth redirect URIs</code>:
    <ul>
        <li>{{ url('zikulausersmodule_user_login') }}</li>
        <li>{{ url('zikulausersmodule_registration_register') }}</li>
    </ul>

    {{ __('Complete:') }}:
    <ul>
        <li>{{ __('Click Save button.') }}</li>
        <li>{{ __('Click App Review in side menu.') }}</li>
        <li>{{ __('Enable "Make Public".') }}</li>
        <li>{{ __('Obtain the App ID and Secret from the Dashboard.') }}</li>
    </ul>
</div>
