<div class="alert alert-info">
    <p>{{ __('Application setup at') }}: <a href="https://github.com/settings/applications/new">https://github.com/settings/applications/new</a></p>

    {{ __('Set the') }} <code>Homepage URL</code> to:
    <ul>
        <li>{{ url('home') }}</li>
    </ul>

    {{ __('Set the') }} <code>Authorization callback URL</code> to:
    <ul>
        <li>{{ url('home') }}</li>
    </ul>
</div>
