{% set pageTitle = '%auth_method% settings'|trans({'%auth_method%': method.displayName}) %}
<h3>
    <span class="fab fa-{{ method.alias }}"></span>
    {{ pageTitle }}
    {{ pageSetVar('title', pageTitle) }}
</h3>

<div>{{ include('@ZikulaOAuthModule/Config/' ~ method.alias ~ '.html.twig') }}</div>

<div class="card bg-light my-3">
    <div class="card-header">{{ pageTitle }}</div>
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
</div>
