{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fas fa-wrench"></span>
    {{ method.DisplayName }} {% trans %}Settings{% endtrans %}
    {{ pageSetVar('title', method.DisplayName ~ ' ' ~ 'Settings'|trans) }}
</h3>

<div>{{ include('@ZikulaOAuthModule/Config/' ~ method.alias ~ '.html.twig') }}</div>

<div class="card bg-light my-3">
    <div class="card-header">{{ method.DisplayName }} {% trans %}Settings{% endtrans %}</div>
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
</div>
{{ adminFooter() }}
