{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_3_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ polyfill() }}
{{ adminHeader() }}

<h2><i class="fa fa-wrench"></i> {{ method.DisplayName }} {{ __('Settings') }}</h2>
<div>{{ include('@ZikulaOAuthModule/Config/' ~ method.alias ~ '.html.twig') }}</div>
<div class="well">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
</div>

{{ adminFooter() }}
